body {
	background-color: #225378;
	font: 'Hind' sans-serif;
	padding: 0;
	margin: 0;
}

.container {
    width: calc(100%-20px);
    margin: 10px;
    text-align: center;
}

.btn {
    display: inline-block;
	cursor: pointer;
	padding: 5px;
	margin: 5px;
	color: white;
	-webkit-user-select: none;
}

.disabled {
	display: none;
	margin: 0px;
	padding: 0px;
}