<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="The hidden forum of the web.">
    <meta name="author" content="Steven Kneiser">
    <title>Web Roast</title>
    <link type="image/x-icon" rel="shortcut icon" href="img/favicon.ico">
    <link type="image/x-icon" rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Hind:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" type="text/css" href="../static/css/comments.css">
    <script type="javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="javascript" src="../static/js/comments.js"></script>
  </head>
  <body>
    <div class="comment">
      <h5>Nico Vergara</h5>
      <h6>2:46 PM</h6>
      <h3>hahaha why do I even bother?</h3>
    </div>
    <div class="comment">
      <h5>Steven Kneiser</h5>
      <h6>11:21 AM</h6>
      <h3>Loooooooool this page <br>...sux.</h3>
    </div>
    <div class="comment">
      <h5>{{ comment.user }}</h5>
      <h6>{{ comment.timestamp }}</h6>
      <h3>{{ comment.comment }}</h3>
  </body>
</html>
